<section class="phx-hero">
  <h1>
    <%= gettext "Welcome %{name}!" , name: @current_user.first_name %>
  </h1>
  <p>Peace of mind from prototype to production</p>

  <div class="grid">
    <div>
      <article>
        <%= link "Projects", to: Routes.admin_company_index_path(@conn, :index) %>
      </article>
    </div>
    <div>
      <article>
        Experciences
      </article>
    </div>
    <div>
      <article>
        Companies
      </article>
    </div>
  </div>
</section>
